#login {
    margin: 0 auto;
    width: 30%;
    background-color: rgba(0,0,0,.6);
    border: 1px solid #000000 !important;
    padding: 1em;

    #username {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    #password {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    #remember {
        color: #fff;
    }
}

#register {
    margin: 0 auto;
    width: 30%;
    background-color: rgba(0,0,0,.6);
    border: 1px solid #000000 !important;
    padding: 1em;

    #username {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    #password {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}